<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>This is the About page</p>
    <p>Find me in app/views/static_pages/about.html.erb</p>
  </body>
</html>
